*{
   padding: 0;
   margin: 0;
}
header{
	height: 100px;
	width: 100%;
	background-color: #d04476;
	box-shadow: 5px 5px 5px 5px #00000063;

}
#logo{
	width: 30%;
	height: 100%;
	float: right;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);/* myla*/
	background-color: #fff;

	
}
.name-logo{
	float: left;
	line-height: 100px;
	padding: 0 50px;
    color: #000;
}
.image-logo{
	height: 100%;
}
nav a{
	text-decoration:none;
	color: white;
	font-weight: bold;
	display: inline-block;

}
.z-text {
	transform: rotateX(-15deg);
	transition: transform 3s;
}
nav li{
	display: inline-block;
	line-height: 100px;
	width: 150px;
	
}
nav{
	text-align: center;
	width: 70%;
}
nav a:hover{
	background-color: white;
	color: #d04476;
	height: 100%;
	width: 100%;
	
	font-style:bold;

	
}

@keyframes changeColor{
	0%{
		background-color: black;
	}
	50%{
		background-color: red ;
	}
	100%{
		background-color:#ff9800;

	}

}
aside{

	padding: 8px;
	width: 30%;
	height: 100%;
	text-align: center;
	background-color: #fff;
	float: left;


}

.block {
    margin-top: 20px;
    background: #f2f2f2;
    padding: 20px 0px;
    box-shadow: 5px 5px 5px 5px #00000063;
    border-radius: 5px;
    width: 100%;
}
#article_1{
	width: 68%;
	
	height: 100%;
	float: right;

	
	
}
aside a div{
	text-decoration-line: none;
	color: #000;
	font-size: 18px;
    list-style: none;
	 width: 100%;
	 height: 100%;
	 text-align: left;
	 padding-left: 15px;

	
}
aside a{
	text-decoration-line: none;
	
    list-style: none;
	 }
aside li{

	    text-align: left;
	    margin-top: 10px;
	    width: 100%;
	    height: 100%;    
}

aside .menuAside a div:hover{
	font-style: bold;
	font-size: 33px;
	color: #fff;
	background-color: red;
	font-style: bold;
	width: 100%;
	height: 100%;
	font-size: 24px;
	border-radius: 10px
}
.menuAside{

  background-color: #fafafa;
  box-shadow: 5px 5px 5px 5px #00000063;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top:8px;
  width: 100%;
}

aside iframe{
	 margin-top:5px;
	width: 99%;
	height: 205px;
	border-radius: 10px;
	background-color: #fafafa;
  box-shadow: 5px 5px 5px 5px #00000063;
 }
.comunty{
  background-color: black;
  box-shadow: 5px 5px 5px 5px #00000063;
  border-radius: 5px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin-top: 10px
  width: 100%;
  text-align: center;
}
.fomulaire{
	height: 70px;
	width: 100%;

}
.fomulaire input{
	float: left;
	width: 80%;
	margin: 5px;
	height: 50%;
	display: inline-block;

}
textarea{
	float: left;
	width: 80%;
	margin: 5px;
	height: 80px;
	display: inline-block;

}


.fb:hover{
	background: rgb(24 119 242);
	border-radius: 50%;
	padding: 30px;
}
.you:hover{
	background-color: #;
	border-radius: 50%;
	padding: 30px;
}
.tw:hover{
	background: #e5397a;
	border-radius: 50%;
	padding: 30px;}
.fomulaire #boutton_formulaire_section{
		 height: 50px;
		 line-height: 50px;
		  width:80%;
		  background-color: #d6071b ;
		  color : #fff; font-style:italic; 
		  font-size: 18px ;
		  border-radius: 20px;
		  margin-top: 10px;
		   margin-left:5px;
		   padding:0px;
		   margin-right: 30px;
		   display: inline-block;
}
.fomulaire #boutton_formulaire_section:hover{
	     height: 60px;
		 line-height: 60px;
		  width:80%;
		  background-color: #4caf50 ;
		  color : #fff;
		  font-style:italic; 
		  font-size: 22px ;
		  border-radius: 23px;
		  margin-top: 5px;
		   margin-left:0px;
		   padding:0px;
		   margin-right: 25px;
		   display: inline-block;

}


#slider {
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 70%);
    height: 300px;
    width: 98%;
    margin: 10px auto 0;
    overflow: visible;
    position: relative;
}
#mask {
    overflow: hidden;
    height: 100%;
    text-align: center;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:100%;
	height:100%;
	position:absolute;
	top:-325px;
	list-style:none;
}
#slider li.first {
	-moz-animation:cycle 25s linear infinite;
	-webkit-animation:cycle 25s linear infinite;		
}
#slider li.second {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;		
}
#slider li.third {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;		
}

#slider li.fourth {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;		
}
#slider li.fifth {
	-moz-animation:cyclefive 25s linear infinite;
	-webkit-animation:cyclefive 25s linear infinite;		
}
#slider:hover li, 
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}
.progress-bar { 
	position:relative;
	top:-5px;
	width:680px; 
	height:10px;
	background:blue;
	-moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
}

/* ANIMATION */
@-moz-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; } 
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; } 
	21% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-moz-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; } 
	60% { top:325px; opacity:0; z-index:0; }
	61% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; }
	21% { top:-325px; opacity:0; z-index:-1; }
	50% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-webkit-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; }  
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; z-index:0; } 
	60% { top:325px; opacity:0; z-index:0; } 
	61% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}

.form_article {
    float: right;
    width: 100%;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 5px 5px #00000063;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    margin-top: 30px;
    
}
.asociation{
	width: 	100%
}
footer li{
    padding-top: 20px;
    list-style: none;

}
footer a{
	color: white;
	 text-align: left;
	text-decoration: none;
}
.footer_menu-true{
	color:  #d04476;
	background-color:white;
	width: 100%;
	padding: 5px;
	font-size: 18px;
	border-radius: 5px;
	text-align: center;

}

#footer_menu-true:hover{
	color:  #d04476;
	float: right;
	text-align: right;
	background-color:white;
	width: 100%;
	padding: 5px;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
}
#Contact_nous  input{
    width: 80%;
    margin: 20px 30px;
    height: 50px;
    font-size: 24px;
    border-radius:10px;
}
#Contact_nous  textarea{
    width: 80%;
    margin: 20px 30px;
   height: 100px;
    font-size: 24px;
    border-radius:10px;
}





